In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('../../data/external/retail-sales-dataset.zip')
df.sample(10)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
239,240,2023-02-06,CUST240,Female,23,Beauty,1,300,300
493,494,2023-09-18,CUST494,Female,42,Beauty,4,50,200
863,864,2023-07-27,CUST864,Female,51,Electronics,1,500,500
934,935,2023-09-09,CUST935,Female,34,Beauty,1,50,50
756,757,2023-12-25,CUST757,Female,43,Electronics,4,300,1200
117,118,2023-05-16,CUST118,Female,30,Electronics,4,500,2000
968,969,2023-04-19,CUST969,Female,40,Clothing,3,300,900
837,838,2023-05-13,CUST838,Male,47,Electronics,2,300,600
131,132,2023-09-10,CUST132,Male,42,Electronics,4,50,200
836,837,2023-07-01,CUST837,Male,18,Beauty,3,30,90

In [ ]:
# padronizar (letras min√∫sculas)

In [ ]:
# tratamento de dtypes