In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/external/retail-sales-dataset.zip')
df.head(10)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200

In [3]:
# padronizar (letras minúsculas)
df.columns = df.columns.str.lower()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction id    1000 non-null   int64
 1   date              1000 non-null   object
 2   customer id       1000 non-null   object
 3   gender            1000 non-null   object
 4   age               1000 non-null   int64
 5   product category  1000 non-null   object
 6   quantity          1000 non-null   int64
 7   price per unit    1000 non-null   int64
 8   total amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [22]:
# Tratamento de dtypes (Tipos de dados)

# Coluna 'date' para o tipo datetime
df['date'] = pd.to_datetime(df['date'])

# Coluna 'gender' e 'product category' para o tipo category
df['gender'] = df['gender'].astype('category')

df['product category'] = df['product category'].astype('category')

# Adicionar coluna de mês
df['month'] = df['date'].dt.month

In [23]:
#Verifcar dados duplicados ou nulos
df.duplicated()

df.isnull().sum()

transaction id      0
date                0
customer id         0
gender              0
age                 0
product category    0
quantity            0
price per unit      0
total amount        0
month               0
dtype: int64

0    11
1     2
2     1
3     5
4     5
Name: date, dtype: int32